html
{
	font: 16px/22px "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
	height: 100%;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body
{
	font-family: 'Montserrat',sans-serif;
	width: 100%;
	height:100%;
	position: relative;
	margin:0;
}

p
{
	line-height: 24px;
	font-size:16px;
}

#logoContainer
{
	position: absolute; 
	top:10px;
	left:10px;
}

.logo
{
	width:20em;
}

#contentContainer
{
	position:absolute;
	top:10px;
	left:22em;
	right:35%;
	bottom:10px;
}

.bg
{
	display: block;
	margin: auto;
	height:100%;
	box-shadow: 0px 0px 4px 4px #555555;
}

#iconContainer
{
	position:absolute;
	top: 75px;
	left:1.5em;
	width: 10em;
	height:40em;
}

.icon
{
	width:10em;
	height:10em;
	float:left;
}

.icon img
{
	width:5em;
	height:5em;
	display:block;
	margin:auto;
	margin-top:2.5em;
}
