html
{
	font: 16px/22px "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
	height: 100%;
	background-color: #403A34;
}

body
{
	font-family: 'Montserrat',sans-serif;
	width: 100%;
	height:100%;
	position: relative;
	margin:0;
}

p
{
	line-height: 24px;
	font-size:16px;
}

#contentContainer
{
	background: url("bg.jpg") center no-repeat;
	background-size: contain;
	position:absolute;
	top:0px;
	bottom:0px;
	left:25%;
	right:25%;
}
